# color support
alias ls='ls --color=auto'
alias dir='dir --color=auto'
alias vdir='vdir --color=auto'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# ls
alias ls='ls --color=auto -hF'
alias ll='ls -al'
alias la='ls -A'
alias l='ls -C'

# safety features
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -I'
alias ln='ln -i'

# vim
alias vim='nvim'

# proxy
{{- if eq (env "WSL_DISTRO_NAME") "" }}
alias proxy='export ALL_PROXY=http://127.0.0.1:7890'
{{- else }}
host_ip=$(cat /etc/resolv.conf | grep "nameserver" | cut -f 2 -d " ")
alias proxy="export ALL_PROXY=http://${host_ip}:7890"
{{- end }}
alias unproxy='unset ALL_PROXY'

# use zoxide for cd
alias cd='z'
